:host {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.upper-canvas,
.lower-canvas {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
}